.title {
    text-align: center;
    padding-bottom: 60px;
}

.left {
    text-align: center;
    color: red;
}


.right {
    text-align: center;
    color: blue;
}

body {
    padding: 7% 15%;
    background-color: rgb(112, 112, 112);
}